{
  "presets": ["latest"],
  "env": {
    "development": {
      "presets": ["power-assert"]
    },
    "test": {
      "presets": ["power-assert"]
    },
    "production": {
      "plugins": ["unassert"]
    }
  }
}
