{
  "presets": [
    [
      "env",
      {
        "targets" : {
          "browsers": [
            "last 2 versions",
            "ie >= 11"
          ]
        },
        "useBuiltIns": true
      }
    ]
  ],
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "targets" : {
              "browsers": [
                "last 2 versions",
                "ie >= 11"
              ]
            },
            "useBuiltIns": true
          }
        ],
        "power-assert"
      ]
    },
    "__foovar_internal_test__": {
      "presets": [
        [
          "env",
          {
            "targets" : {
              "browsers": [
                "last 2 versions",
                "ie >= 11"
              ]
            },
            "useBuiltIns": true
          }
        ],
        "power-assert"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "targets" : {
              "browsers": [
                "last 2 versions",
                "ie >= 11"
              ]
            },
            "useBuiltIns": true
          }
        ],
        "unassert"
      ]
    },
  }
}
