var-name = {
  'hash var-name': 10px
}
foovar('test/option_property_case/vars_raw.js', {
  noGeneratedLog: true,
  propertyCase: 'raw'
})
foovar('test/option_property_case/vars_camel.js', {
  noGeneratedLog: true,
  propertyCase: 'camel'
})
foovar('test/option_property_case/vars_pascal.js', {
  noGeneratedLog: true,
  propertyCase: 'pascal'
})
foovar('test/option_property_case/vars_kebab.js', {
  noGeneratedLog: true,
  propertyCase: 'kebab'
})
foovar('test/option_property_case/vars_snake.js', {
  noGeneratedLog: true,
  propertyCase: 'snake'
})
foovar('test/option_property_case/vars_header.js', {
  noGeneratedLog: true,
  propertyCase: 'header'
})
foovar('test/option_property_case/vars_constant.js', {
  noGeneratedLog: true,
  propertyCase: 'constant'
})
foovar('test/option_property_case/vars_default.js', {
  noGeneratedLog: true
})
