var-name = (1px 2px 3px 4px), (5px 6px 7px 8px)
var-box-shadow-name = (1px 2px 3px 4px rgba(0,0,0,.4) inset), (5px 6px 7px 8px rgba(0,0,0,.2) inset)
foovar('test/export_tuple_list_var/vars.js', {
  noGeneratedLog: true
})
